NEXT_PUBLIC_SUPABASE_URL=https://ihsgcraotgqphrskiftq.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_SBpRqyaSOE0JtfkiBKGJiw_XRAVvSkj

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Mobile Money (PayDunya / CinetPay / Intouch)
PAYMENT_PROVIDER=paydunya
PAYMENT_API_KEY=your-payment-api-key
PAYMENT_SECRET_KEY=your-payment-secret-key
PAYMENT_TOKEN=your-paydunya-token
PAYMENT_MODE=test

# Maps & Météo (optionnel)
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
OPENWEATHER_API_KEY=

# CinetPay (si provider=cinetpay)
CINETPAY_SITE_ID=
