node_modules
.next
out
*.tsbuildinfo
.env
.env.local
.env.vercel.production
.env.vercel.runtime
.env.vercel.prod
.env.vercel.tmp
.env.vercel.*
*.log
.DS_Store
public/workbox-*.js
public/worker-*.js
.vercel
_login*.html
_login*.js
_*.js

.vercel

.vercel
