node_modules
.next
out
.env
.env.local
.env.vercel.production
.env.vercel.prod
.env.vercel.tmp
*.log
.DS_Store
public/workbox-*.js
public/worker-*.js
.vercel
_login*.html
_login*.js
_*.js

.vercel

.vercel
